// EXAMPLE
@font-face {
  font-family: "Rosario";
  src: url("../fonts/Rosario-Bold.woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff");
  font-weight: 700;
  font-display: swap;
}
