// DOWNLOAD SECTION //
.download {
  &__item {
    display: flex;
    margin: 3rem auto;
  }
  &__items {
    span:nth-child(1) {
      background: #f3fbf8;
      border-radius: 50px;
      padding: 0.5rem 1rem;
    }
    span {
      margin: 1.5rem 0;
    }
    p {
      max-width: 35.87rem;
    }
    &__button {
      display: flex;
      gap: 1rem;
      padding-top: 5rem;
    }
  }
  &__items:nth-child(1) {
    flex-basis: 57%;
    padding: 0px 7rem;
  }
  &__items:nth-child(2) {
    padding: 2rem 0;
  }
}
